* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #6441A5;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
}

body, html {
	min-height: 100%;
	width: 100%;
	margin: 0;
}

html {
	background-color: #FFF9FF;
}

.wrapper{
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

.nav-page {
	z-index: 10;
	width: 100%;
	height: 4em;
	position: fixed;
	margin: 0 auto;
	padding: 0 150px;
	padding-top: 10px;
	background-color: #FFF;
	box-shadow: 0 2px 3px -1px #9774D8;
}



#twitch-logo{
	float: left;
	height: 3em;
	cursor: pointer;
}


#twitch-logo > img{
	margin-top: 0.25em;
	height: 2.5em;
}

.navigation-list{
	width: 25%;
	float: right;
	height: 100%;
	margin-right: 10px;
}

.navigation-element {
	float: left;
	font-size: 0.9em;
	text-align: center;
	height: 100%;
	width: 50%;
	cursor: pointer;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.navigation-element:hover {
	background-color: #6441A5;
	color: #FFF;
}

.navigation-element > p {
	margin: 0;
	height: 90%;
	padding: 12px ;
}

.options{
	font-size: 0.73em;
	display: none;
	margin-top: 5px;
	background-color: #FFF;
}

.option {
	padding: 20px;
	border: 1px solid #9774D8;
}

.option > p {
	margin: 0;
	height: 90%;
	padding: 0;
}

.option:hover {
	color: #9774D8;
}

.option:first-child {
	border: 1px solid #9774D8;
	border-bottom: none;
}

.option:last-child {
	border: 1px solid #9774D8;
	border-top: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.highlight {	
	background-color: #6441A5;	
}

.highlight > p {
	color: #FFF;
}


#searchBox{
	background-image: url(http://web-cdn.ttvnw.net/images/xarth/header_search_icon.svg);
	background-repeat: no-repeat;
	background-position: 3px;
	text-indent: 25px;
	background-color: #FFF;
	width: 100%;
	height: inherit;
	border-radius: 2px;
	border: 1px solid #D0D0D0;
}

#search-form{
	max-width:  250px;
	float: right;
	width: 50%;
	height: 2em;
	margin-top: 0.5em;
	margin-left: 10px;
}

.navigation-list-mobile{
	z-index: 20;
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-shadow: 2px 0 3px 1px #9774D8;
}

.navigation-mobile-element {
	display: block;
	border-top: 1px solid #9774D8;
	float: left;
	padding: 2px 5px 0;
	text-align: center;
	height: 100%;
	cursor: pointer;
	width: 50%;
	background-color: #FFF;
}

.navigation-mobile-element:first-child{
	border-left: 1px solid #9774D8;
}

.navigation-mobile-element:last-child{
	border: 1px solid #9774D8;
	border-bottom: 0;
}

#optionsMobSearch{
	display: none;
	background-color: #FFF;
}

#optionsMobStatus{
	display: none;
	background-color: #FFF;
}

.optionMob {
	cursor: pointer;
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 2px 5px 0;
	border: 1px solid #9774D8;
	border-bottom: none;
}

.optionMob:first-child {
	border: 1px solid #9774D8;
	border-right: none;
	border-bottom: none;
}

.optionMob:last-child {
	border: 1px solid #9774D8;
	border-left : none;
	border-bottom: none;
}

.optionMob:hover {
	color: #9774D8;
}

.optionMobSear {
	cursor: pointer;
	float: left;
	width: 50%;
	text-align: center;
	padding: 2px 5px 0;
}
.optionMobSear:first-child {
	border: 1px solid #9774D8;
	border-right: none;
	border-bottom: none;
}

.optionMobSear:last-child {
	border: 1px solid #9774D8;
	border-bottom: none;
}

.optionMob:hover {
	color: #9774D8;
}

.offline{
	background-color: rgba(250,150,150,0.6);
}

.online {
	background-color: rgba(150,250,150,0.6);
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.results {
	display: block;
	position: relative;
	width: 90%;
	margin: 0 auto;
	top: 100px;
	padding: 50px 100px;
	z-index: 1;
}

.result {
	width: 100%;
	border: 1px solid #9774D8;
	margin-top: 10px;
	border-radius: 5px;
	background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-channel_offline_image-b8e133c78cd51cb0-1920x1080.png);

}

.content{
	padding: 20px;
}

.offline{
	background-color: rgba(250,150,150,0.6);
}

.online {
	background-color: rgba(150,250,150,0.6);
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.channel-photo > img{
	width: 100%;
	border-radius: 50px;
}

.channel-photo{
	width: 15%;
	margin: 20px auto;
}

.channel-text{
	width: 100%;
	margin: 20px 0;
	padding: 0 20px;
	overflow: hidden;
}

.channel-description {
	text-align: justify;
	font-size: 0.8em
}

.channel-name{
	margin: 10px auto;
	cursor: pointer;
	text-align: center;
	font-size: 1em;
}

@media only screen and (max-width: 970px){
	.navigation-list-mobile{
		display: none;
	}

	.navigation-list{
		display: block;
	}

	.navigation-mobile-element{
		font-size: 20px;
	}

	.navigation-list{
		width: 30%;
	}

	.option {
		font-size: 0.94em;
	}

	.nav-page {
		padding: 0 25px;
		padding-top: 9px;
	}

	.channel-photo{
		width: 25%;
		margin: 5px auto;
	}

	.channel-text{
		margin: 15px 0;
		padding: 0 10px;
	}

	.channel-description {
		font-size: 0.9em;
	}

	.channel-name{
		margin: 15px auto;
		font-size: 1.4em;
	}
}


@media only screen and (max-width: 750px){
	.navigation-list-mobile{
		display: block;
	}

	.nav-page {
		padding: 0 35px;
		padding-top: 9px;
	}

	.navigation-list{
		display: none;
	}

	.navigation-mobile-element{
		font-size: 16px;
	}

	#twitch-logo > img{
		margin-top: 0.5em;
		height: 2em;
	}	

	.results {
		padding: 10px 35px 70px 35px;
	}

	.channel-photo{
		width: 35%;
		margin: 5px auto;
	}

	.channel-text{
		margin: 10px 0;
		padding: 0 5px;
	}

	.channel-description {
		font-size: 0.8em;
	}

	.channel-name{
		margin: 10px auto;
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 470px){
	.navigation-list-mobile{
		display: block;
	}

	.nav-page {
		padding: 0 15px;
		padding-top: 5px;
	}

	.navigation-list{
		display: none;
	}

	.optionMob {
		font-size: 13px;
	}

	.navigation-mobile-element{
		font-size: 13px;
	}

	#twitch-logo > img{
	margin-top: 0.5em;
	height: 2em;
	}	

	.channel-photo{
		width: 40%;
		margin: 5px auto;
	}

	.channel-text{
		margin: 10px 0;
		padding: 0 5px;
	}

	.channel-description {
		font-size: 0.46em;
	}

	.channel-name{
		margin: 10px auto;
		font-size: 0.9em;
	}
}